@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&family=Sarabun:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*########################*/
/*#########HEADER#########*/
/*########################*/
.header-wrapper {
    font-family: 'Rajdhani', sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #F8997Dff,#EC887Aff,#DF7778ff,#D36675ff,#C65572ff,#BA4470ff,#AD336Dff);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: header 8s ease-in-out infinite;
}
h1 {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.autor {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contato-social {
    margin-top: 1rem;
    display: flex;
}
.contato-social > a {
    font-size: 16pt;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    padding: 1rem 4rem;
    border: 1px solid #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s cubic-bezier(0.55,0.025,0.675,0.97);
}
.contato-social > a:hover {
    color: #2e1c2b;
    background-color: #FFF;
}
@keyframes header {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

/*########################*/
/*      MENU HAMBURGUER   */
/*########################*/
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}
#toggle {
    display: none;
}

/*MENU*/
.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #FFF;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}
.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-items > ul {
    list-style-type: none;
}
.menu-items > ul > li {
    display: flex;
    margin: 0 0 10px 0;
}
.menu-items > ul > li a {
    width: 100%;
    padding: 0 4px;
    border-radius: 8px;
    color: #2e1c2b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24pt;
    letter-spacing: 4px;
    transition: .3s cubic-bezier(0.55,0.025,0.675,0.97);
}
.menu-items > ul > li a:hover {
    background-color: #FDEDEC;
}

/*  MENU TRANSITION */
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #2e1c2b;
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #2e1c2b;
    top: 47px;
}
/*MENU ITEMS TRANSITION*/
/*MENU TRANSITION*/
#toggle:checked + .checkbox {
    background-color: #FFF;
}
#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #FFF;
    z-index: 1;
}
#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/*########################*/
/*          CARD          */
/*########################*/
.container {
    width: 100%;
    background-color: #FFF;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.card-container {
    margin-top: 3rem;
    padding: 3rem 0;
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: .3s cubic-bezier(0.55,0.025,0.675,0.97);
}
.card-container:hover {
    background-color: #FDEDEC;
}
.card-text {
    font-family: 'Sarabun', sans-serif;
    font-size: 16pt;
    font-weight: 500;
    width: 40%;
    color: #343143;
}
.card-github > .card {
    background-image: url(../img/computer-1836330_1920.png);
}
.card-github {border-left: 8px solid #AD336Dff;}

.card-linkedin > .card {
    background-image: url(../img/man-3022255_1920.jpg);
}
.card-linkedin {border-right: 8px solid #D36675ff;}

.card-instagram > .card {
    background-image: url(../img/freedom-2940655_1280.jpg);
}
.card-instagram {border-left: 8px solid #F8997Dff;}

.card {
    width: 400px;
    height: 300px;
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}
.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-shadow: 0 0 1px rgb(0 0 0 / 60%);
}
.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #FFF;
    opacity: 0;
    transition: 0.3s;
}
.card-wrapper h2 {
    font-family: 'Sarabun', sans-serif;
    transition: 0.3s;
}
.card-wrapper p {
    font-family: 'Sarabun', sans-serif;
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
.card:hover {
    filter: unset;
}
.card:hover > .card-wrapper::before {
    width: 350px;
    height: 250px;
    opacity: 1;
}
.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}


/*########################*/
/*##########FOOTER########*/
/*########################*/
.footer {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Rajdhani', sans-serif;
    background-color: #D36675ff;
}

/*########################*/
/*#########CHATBOT########*/
/*########################*/
.chatbot {
    height: 2rem;
    width: 4rem;
    border-radius: 18px;
    border: 4px solid #FFF;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 20px;
    transform: translateY(0);
    animation: chatbot 2s ease-in-out infinite;
}
.chatbot::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -.7rem;
    left: .5rem;
    border-left: 1px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFF;
}
.chatbot__loading {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #FFF;
    transform: scale(1);
}
.chatbot__loading:nth-child(1) {
    animation: pontoPulse 1.5s ease-in-out infinite;
}
.chatbot__loading:nth-child(2) {
    animation: pontoPulse 1.5s ease-in-out infinite;
    animation-delay: 0.2s;
}
.chatbot__loading:nth-child(3) {
    animation: pontoPulse 1.5s ease-in-out infinite;
    animation-delay: 0.4s;
}
@keyframes chatbot {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes pontoPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/*########################*/
/*        ESCONDER        */
/*########################*/
.card-container {
    z-index: 1;
}
.chatbot {
    z-index: 1;
}


/*########################*/
/*        RESPONSIVO      */
/*########################*/
@media (max-width: 800px) {
    .contato-social {
        display: flex;
        flex-direction: column;
    }
    .container {
        margin-top: 0;
    }
    .card {
        width: 90%;
    }
    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }
    .card-container {
        flex-direction: column;
    }
    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }
    .card:hover > .card-wrapper::before {
        width: 70vw;
        height: 250px;
        opacity: 1;
    }
}